.button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.post {
  color: #fff;
  background-color: #7c7b7b;
  padding: 6px 16px;
  border-radius: 16px;
}

.post:hover {
  background-color: #959595;
}
